<?xml version="1.0"?>
<model>
  <name>obstacle_10_</name>
  <version>1.0</version>
  <description>
    leonardo statico obstacle
  </description>
  <author>
    <name>Vincenzo Iorio</name>
    <email>vincenzo.iorio3@hotmail.com</email>
  </author>
  <sdf version='1.4'>obstacle_10_.sdf</sdf>
</model>


