<?xml version="1.0"?>
<model>
  <name>marker_4</name>
  <version>1.0</version>
  <description>
    Aruco marker 4 of 20 cm side length with no mass
  </description>
  <author>
    <name>Alessandro De Crescenzo</name>
    <email>ale-dc@live.it</email>
  </author>
  <sdf version='1.4'>marker_4.sdf</sdf>
</model>


